<header>
    <a class="logo" href="/">INVENTORY</a>
    <ul>
        <li><a href="/brands">Brands</a></li>
        <li><a href="/phones">Phones</a></li>
        <li><a href="/brands/add-brand">Add Brand</a></li>
        <li><a href="/phones/add-phone">Add Phone</a></li>
    </ul>
</header>